<figure class="highcharts-figure">
    <div class="row btn-row">
        <button type="button" class="btn btn-outline-primary" (click)="changeDuration(0)">All days</button>
        <button type="button" class="btn btn-outline-primary" (click)="changeDuration(30)">30 Days</button>
        <button type="button" class="btn btn-outline-primary" (click)="changeDuration(20)" active>20 Days</button>
        <button type="button" class="btn btn-outline-primary" (click)="changeDuration(10)">10 days</button>
    </div>
    <div id="container"></div>
</figure>