agm-map {
    height: 55rem;
    position: relative;
    overflow: hidden;
}

.map-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.map-image {
    position: fixed;
    margin-top: 2%;
    margin-left: 25%;
    z-index: 99;
}

@media screen and (min-width: 1536px) {
    agm-map  {
        height: 43rem;
    }
}

@media screen and (min-width: 1920px) {
    agm-map  {
        height: 56rem;
    }
}

